name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: PanduSagalang
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Jakarta
          plugin_languages: yes
          plugin_languages_limit: 6
          plugin_languages_colors: github
          plugin_followup: yes
          plugin_achievements: yes
          plugin_achievements_display: compact
